.article-wrap {
  background-color: rgba(0,0,0,.2);
  margin: 50px auto;
  color: #ccc;
  max-width: 1200px;
  width: 80%;
  padding: 45px 30px;
  .article-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .article-author {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
