@import '../../assets/styles/common.scss';

footer {
  background-color: $secondary-bg-color;
  color: $secondary-ft-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  ul {
    li {
      display: inline-block;
      line-height: 40px;
      margin-left: 50px;
    }
  }
}
